<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="/" target="_blank">51wish.cn</a>
        </h1>
        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li <% if (currentPage === 'index') { %> class="am-active" <% } %> ><a href="/">首页</a></li>
                <li <% if (currentPage === 'product') { %> class="am-active" <% } %>  ><a href="/product">产品</a></li>
                <li <% if (currentPage === 'music') { %> class="am-active" <% } %>  ><a href="/music">音乐</a></li>
        
            </ul>
        </div>
    </div>
</header>