<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        
        <h1 class="am-topbar-brand">
            <a href="/">51WISH<b>管理系统</b></a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>
        
        <div class="am-collapse am-topbar-collapse" id="collapse-head">
          
            <ul class="am-nav am-nav-pills am-topbar-nav">

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">产品录入管理 <span class="am-icon-caret-down"></span></a>
                    <ul class="am-dropdown-content">
                        <li <% if (currentPage === 'product-translate') { %> class="am-active" <% } %>  ><a href="/product-translate">产品翻译管理</a></li>
                        <li <% if (currentPage === 'product-record') { %> class="am-active" <% } %>  ><a href="/product-record">产品收录管理</a></li>
                        <li <% if (currentPage === 'product-category') { %> class="am-active" <% } %>  ><a href="/product-category">产品分类管理</a></li>
                        <li <% if (currentPage === 'product-method') { %> class="am-active" <% } %>  ><a href="/product-method">产品类型管理</a></li>
                    </ul>
                </li>

                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">电子书管理 <span class="am-icon-caret-down"></span></a>
                    <ul class="am-dropdown-content">
                        <li <% if (currentPage === 'book') { %> class="am-active" <% } %>  ><a href="/book">电子书管理</a></li>
                        <li <% if (currentPage === 'music') { %> class="am-active" <% } %> ><a href="/music">音乐管理</a></li>
                    </ul>
                </li>

                <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">采购管理 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                        <li <% if (currentPage === 'purchase') { %> class="am-active" <% } %> ><a href="/purchase">采购订单管理(默认)</a></li>
                        <li <% if (currentPage === 'purchase-etsy') { %> class="am-active" <% } %> ><a href="/purchase?site-type=etsy">采购订单管理(Etsy.com)</a></li>
                        <li <% if (currentPage === 'purchase-ebay') { %> class="am-active" <% } %> ><a href="/purchase?site-type=ebay">采购订单管理(Ebay.com)</a></li>
                        <li class="am-divider"></li>
                        <li <% if (currentPage === 'purchase-contact') { %> class="am-active" <% } %> ><a href="/purchase-contact">采购网站管理(默认)</a></li>
                        <li <% if (currentPage === 'purchase-contact-etsy') { %> class="am-active" <% } %> ><a href="/purchase-contact?site-type=etsy">采购网站管理(Etsy.com)</a></li>
                        <li <% if (currentPage === 'purchase-contact-ebay') { %> class="am-active" <% } %> ><a href="/purchase-contact?site-type=ebay">采购网站管理(Ebay.com)</a></li>
                </ul>
                </li>
            
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">订单管理 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li <% if (currentPage === 'order') { %> class="am-active" <% } %> ><a href="/order">发货订单管理</a></li>
                    <li <% if (currentPage === 'customer') { %> class="am-active" <% } %> ><a href="/customer">用户/收件人管理</a></li>
                    <li <% if (currentPage === 'product-book') { %> class="am-active" <% } %> ><a href="/product-book">订货管理</a></li>
                    <li <% if (currentPage === 'remark') { %> class="am-active" <% } %> ><a href="/remark">预定备忘录</a></li>
                </ul>
            </li>
                
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">工具 <span class="am-icon-caret-down"></span></a>
                    <ul class="am-dropdown-content">
                        <li <% if (currentPage === 'image-convert') { %> class="am-active" <% } %> ><a href="javascript:;" class="image-convert">图片在线转换</a></li>
                        <li <% if (currentPage === 'taobao-mail-create') { %> class="am-active" <% } %> ><a href="/mail/taobao-mail-create">淘宝发货邮件代码生成</a></li>
                        <li <% if (currentPage === 'resources-download') { %> class="am-active" <% } %>  ><a href="/resources-download">资源下载管理</a></li>
                        <li <% if (currentPage === 'identity') { %> class="am-active" <% } %> ><a href="/identity">身份证管理</a></li>
                        <li <% if (currentPage === 'file-manage') { %> class="am-active" <% } %> ><a href="/file-manage">文件上传管理</a></li>
                        <li <% if (currentPage === 'tools') { %> class="am-active" <% } %> ><a href="/tools">工具库</a></li>
                    </ul>
                </li>
                
            </ul>

            <% if (user) { %>
            <ul class="am-topbar-right am-nav am-nav-pills am-topbar-nav">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">我的账户 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="javascript:;"><%= user.attributes.username %></a></li>
                    <li><a href="/earning">收入统计</a></li>
                    <li><a href="/logout">退出登录</a></li>
                </ul>
            </li>
            </ul>
            <% } else { %>
            <div class="am-topbar-right">
            <a class="am-btn am-btn-primary am-topbar-btn am-btn-sm" href="/login"><span class="am-icon-user"></span> 登录</a>
            </div>
            <% } %>     

        </div>
    </div>
</header>