<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <!--
        <h1 class="am-topbar-brand">
            <a href="/" target="_blank">51wish.cn</a>
        </h1>
        -->
        <div class="am-collapse am-topbar-collapse" id="collapse-head">
          
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li <% if (currentPage === 'index') { %> class="am-active" <% } %> ><a href="/">首页</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">产品管理 <span class="am-icon-caret-down"></span></a>
                    <ul class="am-dropdown-content">
                      <li <% if (currentPage === 'product') { %> class="am-active" <% } %>  ><a href="/product">产品</a></li>
                      <li <% if (currentPage === 'book') { %> class="am-active" <% } %>  ><a href="/book">电子书</a></li>
                      <li <% if (currentPage === 'music') { %> class="am-active" <% } %>  ><a href="/music">音乐</a></li>
                    </ul>
                </li>

                <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">采购订单管理 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                        <li <% if (currentPage === 'purchase') { %> class="am-active" <% } %> ><a href="/purchase">采购订单管理</a></li>
                        <li <% if (currentPage === 'purchase-contact') { %> class="am-active" <% } %> ><a href="/purchase-contact">网站联系方式</a></li>
                </ul>
                </li>

            
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">发货订单管理 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li <% if (currentPage === 'order') { %> class="am-active" <% } %> ><a href="/order">发货订单管理</a></li>
                    <li <% if (currentPage === 'customer') { %> class="am-active" <% } %> ><a href="/customer">用户/收件人管理</a></li>
            </ul>
            </li>


            </ul>

            <% if (user) { %>
            <ul class="am-topbar-right am-nav am-nav-pills am-topbar-nav">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">我的账户 <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><%= user.attributes.username %></a></li>
                    <li><a href="/logout">退出登录</a></li>
                </ul>
            </li>
            </ul>
            <% } else { %>
            <div class="am-topbar-right">
            <a class="am-btn am-btn-primary am-topbar-btn am-btn-sm" href="/login"><span class="am-icon-user"></span> 登录</a>
            </div>
            <% } %>     

        </div>
    </div>
</header>