/* sign page */
.sign-page {
    padding: 30px 0;
}

/* customer page */
.typeahead-content .twitter-typeahead {
    display: block !important;
}

/* purchase page */
.purchase-page {
    .purchase-image {
        display: table-cell;
        text-align: center;
        width: 100px;
        height: 100px;
        border:1px solid #ddd;
        vertical-align: middle;
        img {
            vertical-align: middle;
            max-width: 90px;
            max-height: 90px;
        }
    }
}

/* purchase-contact-page */
.purchase-contact-page {

    #form-add-purchase-contact, #form-edit-purchase-contact {
        iframe {
            width: 100%;
            height: 40px;
        }
    }

    #form-upload-img {
        height: 40px;
        width: 400px;
        overflow: hidden;
        .am-form-file {
            float: left;
        }
        .upload-loading {
            &.on {
                display: block;
            }
            display: none;
            padding-top: 2px;
            float: left;
            margin-left: 10px;
        }
    }
}

/* earning page */
.earning-page {
    .am-datepicker-date {
        width: 400px;
    }
}

/* taobao-mail-create-page */
.taobao-mail-create-page {
    .copy-title {
        display: none;
    }
    .copy-info {
        display: none;
    }
    .copy-info.on {
        display: block;
    }
    .mail-title-box {
        display: none;
    }
}