/* index page */
.index-page {
    
    .am-container {
        margin:auto;
    }
    
    #chart-earning {
        height: 250px;
    }
    
    th {
        font-weight: normal;
        font-size: 1.4rem;
    }
    
    
    h4 {
        font-size: 1.4rem;
        font-weight: normal;
        .more {
            float: right;
            font-weight: normal;
        }
    }
    
    .earning-info,.am-badge {
        font-size: 1.4rem;
    }
    
}

/* sign page */
.sign-page {
    padding: 30px 0;
}

/* customer page */
.typeahead-content .twitter-typeahead {
    display: block !important;
}

/* earning page */
.earning-page {
    .am-datepicker-date {
        width: 400px;
    }
}

/* taobao-mail-create-page */
.taobao-mail-create-page {
    .copy-title {
        display: none;
    }
    .copy-info {
        display: none;
    }
    .copy-info.on {
        display: block;
    }
    .mail-title-box {
        display: none;
    }
}

/* product page */
.product-page {
    #content-main-image {
        ul {
            margin:0;
            padding: 0;
        }
        li {
            display: inline-block;
            margin-right: 5px;
            img {
                border:1px solid #ddd;
                width: 80px;
                height: 80px;
            }
        }
    }
}

/* earning page */
.earning-page {
    .earning-info,.am-badge {
        font-size: 1.4rem;
    }
}

/* order page */
.order-page {
    table {
        .am-btn-link {
            padding: 0;
            &.disabled {
                color: #666;
            }
        }
        .taobao-name {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .am-form-inline {
        .am-form-field {
            width: 160px;
        }
    }
    .am-icon {
        &.on {
            color: #4aaa4a;
        }
        &.off {
            color: #F37B1D;
        }
    }
    .customer-name {
        position: relative;
        &.shunfeng {
            &:after {
                content: "s";
                line-height: 0.7;
                position: absolute;
                right:-12px;
                font-size: 12px;
                top:-7px;
                width: 12px;
                height: 12px;
                background: #fff;
                border:1px solid #000;
                border-radius: 2px;
                color: #000;
            }
        }
    }
    .am-table .am-dropdown .am-btn {
        background: none;
        color: #666;
        border: none;
        &:active {
            box-shadow: none;
        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    a[data-clipboard-text] {
        &.active {
            color:#5eb95e;
        }
    }
    .am-form-label {
        label {
            font-weight: normal;
        }
    }
}

.am-popover-inner {
    .shipping-company-input {
        background: #333;
        border:none;
        color: #fff;
        outline: none;
    }
}

//order
#modal-set-stock {
    .am-modal-dialog {
        background: #fff;
    }
    .am-form-inline {
        margin-bottom: 10px;
        select {
            width: 100px;
        }
        input {
            width: 100px;
        }
    }
    .am-form {
        text-align: left;
        label {
            font-size: 16px;
            display: block;
            font-weight: normal;
            em {
                font-style: normal;
                font-size: 12px;
                font-weight: normal;
                color: #999;
            }
        }
    }
}


/* purchase page */
.purchase-page {
    
    table {
        tr.off {
            background: #feffed;
        }
    }
    
    .purchase-image {
        border:1px solid #ddd;
        height: 100px;
        width: 100px;
        text-align: center;
        display: inline-block;
        line-height: 100px;
        img {
            max-width: 90px;
            max-height: 90px;
        }
    }
    
    .icon-etsy {
        font-weight: bold;
        font-style: normal;
        color: #f56400;
        font-size: 10px;
    }

    .icon-ebay {
        font-weight: bold;
        font-style: normal;
        color: #e43137;
        font-size: 10px;
    }
}

/* identity page */
.identity-page {
    .card-view {
        img {
            width:200px;
            margin:10px 0;
            border:1px solid #ddd;
            padding: 4px;
        }
    }
}

/* product book page */
.product-book-page {
    #customer-id {
        height: 1px;
        overflow: hidden;
        display: block;
        font-size: 0;
        border:none;
    }
    .am-form-horizontal {
        margin-bottom: 1rem;
        margin-left:-1.5rem;
        margin-right: -1.5rem;
        .am-form-label {
            text-align: center;
            label {
                font-weight: normal;
            }
        }
        .am-form-group {
            margin-bottom: 5px;
            &:first-child {
                .remove {
                    display: none;
                }
            }
        }
        
        [class*=am-u-] {
            padding-left: 1.5rem;
            padding-right: 0rem;
        }
        
        .am-form-label {
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
    }
    
    .am-form-inline {
        .am-form-group {
            margin-right: 10px;
        }
        .am-form-field {
            width: 160px;
        }
        label {
            height: 38px;
            line-height: 38px;
            font-weight: normal;
            margin: 0;
        }
    }
    
    .customer-info {
        color: #666;
    }
}

/* file manage page */
.file-manage-page {
    .file-type-tag {
        background: #21b2d1;
        display: inline-block;
        width: 60px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
    }
}

/* order page */
.order-page {
    .order-name-content {
        min-height: 30px;
        line-height: 30px;
    }
    .order-split {
        @include breakpoint(small-only) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 80px;
        }
    }
}

/* product category page */
.product-category-page {
    .am-u-sm-12 {
        padding: 0;
    }
    .am-accordion {
        margin: 0 0 30px 0;

        strong {
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span.options {
            float: right;
            a {
                margin-right: 6px;
            }
        }

        ul {
            margin: 0 0 5px 0;
            padding: 0 0 10px 0;
        }
        li {
            padding: 0 2px;
            height: 36px;
            line-height: 36px;
            margin: 0;
            list-style: none;
            border-bottom: 1px dashed #ddd;
            &:hover {
                background: #f5f5f5;
            }
        }
    }
}

/* product-record-page */
.product-record-page {
    table {
        tr.is-order {
            td {
                background: #feffed;
            }
        }
    }
    .am-form-group {
        select {
            width: 150px;
        }
    }
    .category-group {
        .am-u-md-3 {
            padding-left: 0;
        }
    }
    #price {
        width: 150px;
    }
    .product-record-image {
        border:1px solid #ddd;
        @include align-img(100px,100px);
    }
    .image-view-center {
        @include align-img(40px,40px);
    }
    
    
    .logo-site {
        color: #fff;
        font-size: 14px;
        border-radius:2px;
        &:after {
            padding: 0 4px;
        }
        &.etsy {
            background: #f56400;
            &:after {
                content: "Etsy";
            }
        }
        &.amazon {
            background: #232f3e;
            &:after {
                content: "Amazon";
            }
        }
        &.ebay {
            background: #85b716;
            &:after {
                content: "Ebay";
            }
        }
    }
    
}


/* customer-page */
.customer-page {
    .customer-order-list {
        margin-bottom: 20px;
        ul {
            margin:5px 0;
            padding: 10px 10px 10px 20px;
            font-size: 13px;
            background: #f0f9ff;
            border-radius: 4px;
        }
    }
}