.product-page {


    fieldset {
        padding: 0;
    }
    

    textarea {
        margin:0 0 10px 0;
    }
    
    .code-banner {
        margin-bottom: 10px;
    }
    
    .product-title {
        
        img {
            width: 400px;
        }
    }
    
    label {
        i {
            font-weight: bold;
            color: red;
            font-size: 16px;
            font-style: normal;
        }
    }
    
    label.error {
        color: red;
    }
    
    .am-alert {
        margin:10px 0;
    }
    
    .am-form-inline {
        span {
            padding: 0 10px;
        }
    }
    
    #content-info {
        p {
            label {
                font-weight: normal;
                margin-right: 10px;
                input {
                    margin-right: 5px;
                }
            }
        }
        
        .info-tpl {
            display: none;
        }
    }
    
}


.product-view-page {
    
    width: 750px;
    margin:30px auto;

    .preview-content {
        font-size: 24px;
        line-height: 30px;
        div {
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
        p {
            margin:0;
            padding:0 15px 20px 15px;
        }
    }
    
}