<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page taobao-mail-create-page">

    <% if (flash.success != '') { %>
    <div class="am-alert am-alert-success">
        <p><%= flash.success %></p>
    </div>
    <% } %>

    <div class="am-form"> 

    <fieldset>

        <legend><a href="/mail/taobao-mail-create">淘宝发货邮件代码生成</a></legend>

            <div class="am-form-group">
                    <textarea id="textarea"  rows="3" placeholder="输入淘宝商品复制代码"></textarea>
            </div>
        
            <div class="am-form-group">
                <button id="btn-create" type="button" class="am-btn am-btn-primary" disabled="disabled">生成内容</button>
                <button type="button" class="am-btn am-btn-primary copy-title">邮件标题</button>
                <button type="button" class="am-btn am-btn-primary copy-wangwang">回复旺旺内容</button>
                <button type="button" class="am-btn am-btn-primary copy-haoping">好评回复</button>
                <span class="split"></span>
                <button type="button" class="am-btn am-btn-primary copy-howmail">询问邮箱</button>
                <button type="button" class="am-btn am-btn-primary copy-howread">如何阅读</button>
                <button type="button" class="am-btn am-btn-primary copy-sendremind">发货提醒</button>
            </div>
        
        
        <p class="am-alert am-alert-success copy-info"></p>

        <hr>

        <div class="mail-title-box">
            <span class="mail-title"></span>
        </div>


        <div class="mail-content">

        </div>

    </fieldset>
    </div>


</div>




<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
         var taobaoMailCreate = require('taobao-mail-create');
         taobaoMailCreate();
    });
</script>
</body>
</html>