
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <title>iPhone/iPad用户如何阅读电子版书籍</title>
    <style type="text/css">
        body { margin:0; font-size: 12px;}
        ul,li { margin:0; padding:0;}
        li { list-style-type: none;}
        a { text-decoration: none;}
        a:hover { text-decoration:underline;}
        h2 { background: #ccc;color:#333; height: 40px; line-height: 40px; margin: 10px 0;}
        img { width:100%;}
        #container {max-width: 640px; min-width: 320px; }
    </style>
</head>
<body>

<div id="container">
    <div style="height:40px;background:#108ad7 url('http://img04.taobaocdn.com/imgextra/i4/42879206/TB2I5YTcXXXXXbEXXXXXXXXXXXX-42879206.png') no-repeat;"></div>
    <div style="border-bottom:1px solid #b6e1fc;padding:10px;background:#f0faff; font-size:14px;line-height: 20px;">由于苹果生态系统缘故,大部分情况下,您一般无法直接在iPhone/iPad上下载文件后观看,这里强烈建议您先通过个人 <strong style="color:#108ad7;">pc电脑上下载完文件</strong> 之后，从 <strong style="color:#108ad7;">iTunes</strong> 导入到手机上,简单且方便(电子书、音乐都参照如下方法):</div>
    <p style="padding:20px;font-size:18px;margin:0;">第1步:</p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/42879206/TB2HU3KcXXXXXXxXpXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第2步:</p>
    <img src="http://img02.taobaocdn.com/imgextra/i2/42879206/TB24OoPcXXXXXaGXXXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;"/>
    <p style="padding:20px;font-size:18px;margin:0;">第3步:</p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/42879206/TB2IJZRcXXXXXXzXXXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;"/>
    <p style="padding:20px;font-size:18px;margin:0;">第4步:</p>
    <img src="http://img03.taobaocdn.com/imgextra/i3/42879206/TB2QesKcXXXXXXQXpXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;"/>
    <p style="padding:20px;font-size:18px;margin:0;">第5步:</p>
    <img src="http://img01.taobaocdn.com/imgextra/i1/42879206/TB2gi3KcXXXXXXRXpXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;"/>
    <p style="padding:20px;font-size:18px;margin:0;">第6步:</p>
    <img src="http://img01.taobaocdn.com/imgextra/i1/42879206/TB2NgZHcXXXXXa6XpXXXXXXXXXX_!!42879206.png" style="border:1px solid #ddd;"/>
</div>

</body>
</html>