
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <title>Android用户如何阅读电子版书籍</title>
    <style type="text/css">
        body { margin:0; font-size: 12px;}
        ul,li { margin:0; padding:0;}
        li { list-style-type: none;}
        a { text-decoration: none;}
        a:hover { text-decoration:underline;}
        h2 { background: #ccc;color:#333; height: 40px; line-height: 40px; margin: 10px 0;}
        img { width:100%; }
        #container {max-width: 640px; min-width: 320px; }
    </style>
</head>
<body>

<div id="container">
    
    <p style="padding:20px;font-size:18px;margin:0;">第1步:</p>
    <img src="https://img.alicdn.com/imgextra/i1/42879206/TB2ZlYropXXXXbrXXXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第2步:</p>
    <img src="https://img.alicdn.com/imgextra/i3/42879206/TB2ZrnDopXXXXXeXXXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第3步:</p>
    <img src="https://img.alicdn.com/imgextra/i4/42879206/TB2cL6eopXXXXXwXpXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第4步:</p>
    <img src="https://img.alicdn.com/imgextra/i4/42879206/TB2ULYzopXXXXaeXXXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第5步:</p>
    <img src="https://img.alicdn.com/imgextra/i1/42879206/TB2AcqPopXXXXavXFXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第6步:</p>
    <img src="https://img.alicdn.com/imgextra/i4/42879206/TB2Fti6opXXXXbLXpXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第7步:</p>
    <img src="https://img.alicdn.com/imgextra/i1/42879206/TB2bVzgopXXXXXnXpXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
    <p style="padding:20px;font-size:18px;margin:0;">第8步:</p>
    <img src="https://img.alicdn.com/imgextra/i2/42879206/TB2BM_eopXXXXXMXpXXXXXXXXXX_!!42879206.jpg" style="border:1px solid #ddd;" />
</div>


</body>
</html>