<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>51wish.cn-admin - 首页</title>
  <% include partials/css %>
</head>
<body>

<% include partials/header %>

<div class="am-container">

  <fieldset>
    
    <legend>首页111</legend>
  
    <div class="am-form-group">
      <a href="#" class="am-btn am-btn-primary" role="button">链接按钮激活状态</a>
    </div>
  
  </fieldset>
  
</div>

<% include partials/footer %>
<% include partials/js %>
</body>
</html>