<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page">
    
    <form id="form-add-order" class="am-form" action="/order/add" method="post">

        <fieldset>

            <legend>添加新发货订单</legend>

            <!-- customer name start -->
            <div id="content-customer-name" class="am-form-group">
                <label>订单内容：<i>*</i> </label>
                <input id="customer-name" required name="customer-name" type="text" placeholder="输入收货人/客户姓名" />
            </div>
            <!-- customer name end -->

            <hr/>
            
            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <label>订单内容：<i>*</i> </label>
                <input id="name" required name="name" type="text" placeholder="输入订单内容" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- description start -->
            <div id="content-nickname" class="am-form-group">
                <label>订单描述：</label>
                <textarea name="description" rows="5"></textarea>
            </div>
            <!-- description end -->

            <hr/>

            <!-- taobaoname start -->
            <div id="content-taobao" class="am-form-group">
                <label>淘宝用户名：</label>
                <input id="taobao" name="taobao" type="text" placeholder="输入淘宝用户名" />
            </div>
            <!-- taobaoname end -->

            <hr/>

            <!-- weixinname start -->
            <div id="content-weixin" class="am-form-group">
                <label>微信号：</label>
                <input id="weixin" name="weixin" type="text" placeholder="输入微信用户名" />
            </div>
            <!-- weixinname end -->

            <hr/>

            <!-- shipping address start -->
            <div id="content-address" class="am-form-group">
                <label>收货信息：</label>
                <input type="hidden" name="address"/>
                <div class="address-content am-form-horizontal">
                    
                    <div class="address-field am-form-group"><div class="am-u-sm-11"><input class="address" type="text" placeholder="输入收货地址" /></div><label class="am-u-sm-1 am-form-label">
                        <a href="javascript:;" class="remove">- 删除</a> </label></div>

                    
                    <p><a class="address-add" href="javascript:;">+ 添加收货信息</a> </p>
                </div>
            </div>
            <!-- shipping address end -->

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
            </div>

        </fieldset>

    </form>
    
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var order = require('order');
        order.addFun();
    });
</script>
</body>
</html>