<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>邮件模板</title>
</head>
<body>

<table id="table" border="0" cellpadding="0" cellspacing="0" style="font-size:14px; width:414px;">
    <tbody>
    <tr>
        <td colspan="4">
            <a href="http://shop110618977.taobao.com" ><img border="0" src="http://img03.taobaocdn.com/imgextra/i3/42879206/TB2TIIScXXXXXX4XXXXXXXXXXXX_!!42879206.png" alt="暮雪的藏书阁" width="414" height="104"/></a>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="height:2px; background:#645a7e;"></td>
    </tr>
    
    <tr>
        <td style="width:40%;">
            <div style="color:#333; margin:0; padding:0;"><strong>观看方法1(强烈推荐)</strong></div>
            <div style="color:#666; margin:0; padding:0;"><strong>使用百度云App兼容<br/>所有设备观看</strong></div>
            <div style="margin:0; padding:2px 0;"><a  href="http://order-51wish.leanapp.cn/mail/taobao-read" style="color:#645a7e; font-weight: bold; text-decoration: underline;">点击查看</a></div>
        </td>
        <td style="width:30%;">
            <div style="color:#333; margin:0; padding:0;">观看方法2(不推荐)</div>
            <div style="color:#666; margin:0; padding:0;">只适用于iPhone<br/>设备观看方法</div>
            <div style="margin:0; padding:2px 0;"><a  href="http://order-51wish.leanapp.cn/mail/taobao-read?type=iphone" style="color:#645a7e; font-weight: bold; text-decoration: underline;">点击查看</a></div>
        </td>
        <td style="width:30%;">
            <div style="color:#333; margin:0; padding:0;">观看方法2(不推荐)</div>
            <div style="color:#666; margin:0; padding:0;">只适用于android<br/>设备观看方法</div>
            <div style="margin:0; padding:2px 0;"><a  href="http://order-51wish.leanapp.cn/mail/taobao-read?type=android" style="color:#645a7e; font-weight: bold; text-decoration: underline;">点击查看</a></div>
        </td>
    </tr>

    <tr>
        <td colspan="4" style="height:1px; background:#978bb1;"></td>
    </tr>
    <tr>
        <td colspan="4">
            <div style="padding:10px; padding-bottom: 0; margin:0; font-size: 14px;" class="mail-mx-title">
                亲爱的 <strong style="color:#645a7e;"></strong> (订单号),感谢您购买本店产品,以下为您拍下的宝贝:
            </div>

            <div style="padding:5px 10px; margin:0; color:#645a7e; border-bottom:1px dashed #978bb1;">
                ( 注:如果您是手机端阅读，请一定要先点击查看上面的手机设备阅读步骤哦! )
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="4" class="mail-mx-content">

        </td>
    </tr>

    <tr>
        <td colspan="4" style="height:2px; background:#645a7e;"></td>
    </tr>

    <tr>
        <td colspan="4">
            <div style="padding:10px 10px 10px 10px; margin:0;">
                好评后请直接联系店主,会给您赠送店主特别推荐的 <strong style="color:#645a7e;">天使音乐</strong> 哦!
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="4" style="background: #978bb1; padding:6px 0; color:#fff; text-align: center;">
            <a href="http://muxue698.taobao.com" style="color:#fff; text-decoration: underline;" >暮雪的心愿城 - 您的愿望小管家</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>