<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page">
    
    <form id="form-add-remark" class="am-form" action="/remark/add" method="post">

        <fieldset>

            <legend><a href="/remark/add">添加新备忘录信息</a></legend>
            
            <!-- remark title start -->
            <div id="content-name" class="am-form-group">
                <label>备忘录标题：<i>*</i> </label>
                <input id="title" required name="title" type="text" placeholder="输入备忘录标题" />
            </div>
            <!-- remark title end -->

            <hr/>
            
            <!-- type start -->
            <div id="content-type" class="am-form-group">
                <label>备忘录类型：</label>
                <select name="type" id="type">
                    <option value="order">客户订货记录</option>
                    <option value="purchase">采购信息记录</option>
                    <option value="user">用户信息记录</option>
                    <option value="other">其他</option>
                </select>
            </div>
            <!-- type end -->

            <hr/>

            <!-- content start -->
            <div id="content-content" class="am-form-group">
                <label>备忘录内容：</label>
                <textarea name="content" id="content" placeholder="输入备忘录内容" rows="5"></textarea>
            </div>
            <!-- content end -->

            <hr/>
            
            <!-- status start -->
            <div id="content-is-complete" class="am-form-group">
                <label>是否完结：</label>
                <div><label><input id="is-complete" name="is-complete" type="checkbox"> 已完成</label></div>
            </div>
            <!-- status end -->

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
                <button type="button" class="am-btn am-btn-primary" onclick="history.back(-1);">返回</button>
            </div>

        </fieldset>

    </form>
    
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var remark = require('remark');
        remark.addFun();
    });
</script>
</body>
</html>