<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>


<div class="am-container common-page product-method-page">
    <fieldset>

        <legend><a href="/product-method/add">添加产品类型</a></legend>

        <form id="form-add-product" class="am-form" action="/admin/product-method/add" method="post">

            <!-- name start -->
            <div class="am-form-group">
                <label for="name">产品类型名称<i>*</i>:</label>
                <input id="name" required name="name" type="text" placeholder="输入产品类型名称[必填]" />
            </div>
            <!-- name end -->

            <!-- label start -->
            <div class="am-form-group">
                <label for="label">产品类型标签(英文)<i>*</i>:</label>
                <input id="label" required name="label" type="text" placeholder="输入产品类型标签[必填]" />
            </div>
            <!-- label end -->

            <hr/>

            <div class="am-form-group">
                <button id="submit" type="submit" class="am-btn am-btn-primary">保存</button>
                <button type="button" class="am-btn am-btn-primary" onclick="history.back(-1);">返回</button>
            </div>

        </form>

    </fieldset>

</div>


<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function () {
        var productMethod = require('product-method');
        productMethod.addFun();
    });
</script>
</body>
</html>