<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partials/css %>
</head>
<body>

<% include ../partials/header %>

<div class="am-container common-page purchase-page">
    
    <form id="form-add-purchase" class="am-form" action="" method="post" target="">

        <fieldset>

            <legend>添加新订单</legend>

            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <label>订单名称简写：<i>*</i> </label>
                <input id="purchase-name" required name="purchase-name" type="text" placeholder="输入订单名称" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- description start -->
            <div id="content-description" class="am-form-group typeahead-content">
                <label>网站名称描述(自动填充)：</label>
                <input type="text" id="purchase-description" name="purchase-description" autocomplete="off" placeholder="输入网站名称描述"/>
            </div>
            <!-- description end -->

            <hr/>

            <!-- sitetype start -->
            <div class="am-form-group">
                <label>网站类型：</label>
                <select name="site-type" id="site-type">
                    <option value="normal" <%if(siteType === 'normal') { %>selected<% } %>>默认网站</option>
                    <option value="etsy" <%if(siteType === 'etsy') { %>selected<% } %> >etsy.com</option>
                </select>
            </div>
            <!-- sitetype end -->

            <hr/>

            <!-- image start -->
            <div id="content-image" class="am-form-group">
                <label>图片展示：</label>
                <input type="hidden" id="purchase-image" name="purchase-image"/>
                <div>
                    <div class="purchase-image">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <!-- image end -->

            <hr/>

            <!-- orderLink start -->
            <div id="content-order-link" class="am-form-group">
                <label>网站订单链接描述：</label>
                <textarea id="purchase-order-link" name="purchase-order-link" placeholder="输入网站查看订单链接描述" rows="5"></textarea>
            </div>
            <!-- orderLink end -->

            <hr/>
            
            <!-- website start -->
            <div id="content-website" class="am-form-group">
                <label>网站地址：</label>
                <input type="text" id="purchase-website" name="purchase-website" placeholder="输入网址"/>
            </div>
            <!-- website end -->

            <hr/>

            <!-- mail start -->
            <div id="content-mail" class="am-form-group">
                <label>对方联系邮箱：</label>
                <input id="purchase-mail" name="purchase-mail" type="text" placeholder="输入对方联系邮箱" />
            </div>
            <!-- mail end -->

            <hr/>

            <!-- amount start -->
            <div id="content-amount" class="am-form-group">
                <label>订单金额(RMB)：<i>*</i></label>
                <input  id="purchase-amount" name="purchase-amount" required type="text" placeholder="输入订单金额" />
            </div>
            <!-- amount end -->

            <hr/>

            <!-- shippingType start -->
            <div id="content-shipping-type" class="am-form-group">
                <label>物流方式：</label>
                <select name="purchase-shipping-type" id="purchase-shipping-type">
                    <option value="tianji">转运-天际</option>
                    <option value="zhuanyunbang">转运-转运帮</option>
                    <option value="8dexpress">转运-八达网</option>
                    <option value="direct">直邮</option>
                    <option value="other">其他</option>
                </select>
            </div>
            <!-- shippingType end -->

            <hr/>

            <!-- paymentType start -->
            <div id="content-payment-type" class="am-form-group">
                <label>支付方式：</label>
                <select name="purchase-payment-type" id="purchase-payment-type">
                    <option value="paypal">paypal</option>
                    <option value="creditcard">信用卡</option>
                    <option value="other">其他</option>
                </select>
            </div>
            <!-- paymentType end -->

            <hr/>

            <!-- shipping company start -->
            <div class="am-form-group">
                <label>物流公司：</label>
                <select id="purchase-shipping-company" name="purchase-shipping-company">
                    <option value="none">无</option>
                    <option value="usps">usps</option>
                    <option value="chinapost">中国邮政</option>
                    <option value="ems">ems</option>
                    <option value="ups">ups</option>
                    <option value="fedex">Fedex</option>
                    <option value="dhl">DHL</option>
                    <option value="other">其他</option>
                </select>
            </div>
            <!-- shipping company end -->

            <hr/>

            <!-- trackingNumber start -->
            <div id="content-tracking-number" class="am-form-group">
                <label>Tracking Number：(如果是带连接http的单号则会列表页直接打开)</label>
                <input id="purchase-tracking-number" name="purchase-tracking-number" type="text" placeholder="输入tracking number" />
            </div>
            <!-- trackingNumber end -->

            <hr/>
            
            <!-- comment start -->
            <div id="content-comment" class="am-form-group">
                <label>备注信息：</label>
                <textarea id="purchase-comment" name="purchase-comment" rows="5" placeholder="输入备注信息"></textarea>
            </div>
            <!-- comment end -->

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary" data-action="/purchase/add" data-target="_self">保存</button>
            </div>

        </fieldset>

    </form>
    
</div>

<% include ../partials/footer %>
<% include ../partials/js %>

<script type="text/javascript">
    $(function() {
        var purchase = require('purchase');
        purchase.addFun();
    });
</script>
</body>
</html>